<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <table>
        <tr>
          <th>name</th>
          <th>email</th>
          <th>DOB</th>
          <th>mobile</th>
          <th>rate</th>
          <th>affiliation</th>
          <th>education</th>
        </tr>
        <% requests.forEach(request => { %>
          <tr>
            <td><%= request.name %></td>
            <td><%= request.email %></td>
            <td><%= request.DOB.toISOString().split('T')[0] %></td>
            <td><%= request.mobile %></td>
            <td><%= request.rate %></td>
            <td><%= request.affiliation %></td>
            <td><%= request.education %></td>
            <td><a href='http://localhost:3000/admin/uploadedInfo/<%= request._id %>/id'>Download</a></td>
            <td><a href='http://localhost:3000/admin/uploadedInfo/<%= request._id %>/medicalLicense'>Download</a></td>
            <td><a href='http://localhost:3000/admin/uploadedInfo/<%= request._id %>/medicalDegree'>Download</a></td>
            <form method="get" action="/admin/acceptRequest">
            <input type="hidden" name="email" value="<%= request.email %>">            
            <td><button>Accept</button></td>
            </form>
            <form method="get" action="/admin/rejectRequest">    
            <input type="hidden" name="email" value="<%= request.email %>">        
            <td><button name=<%= request.email %>>Reject</button></td>
            </form>
          </tr>
        <% }); %>
    </table>
</head>
<body>
</body>
<script>
    
</script>
</html>